!moai-sdk/

moai-sdk/*
!moai-sdk/hosts
!moai-sdk/README.txt
!moai-sdk/legal.txt
!moai-sdk/license.txt

moai-sdk/hosts/*
!moai-sdk/hosts/ant
!moai-sdk/hosts/chrome
!moai-sdk/hosts/vs2008
!moai-sdk/hosts/vs2010
!moai-sdk/hosts/xcode

moai-sdk/hosts/ant/*
!moai-sdk/hosts/ant/sdk-setup.bat
!moai-sdk/hosts/ant/sdk-setup.sh
!moai-sdk/hosts/ant/settings-local.sh

moai-sdk/hosts/chrome/*
!moai-sdk/hosts/chrome/bannerMoai.png
!moai-sdk/hosts/chrome/bind.js
!moai-sdk/hosts/chrome/Icon_128.png
!moai-sdk/hosts/chrome/Icon_16.png
!moai-sdk/hosts/chrome/logo.png
!moai-sdk/hosts/chrome/manifest.json
!moai-sdk/hosts/chrome/Moai.html
!moai-sdk/hosts/chrome/moai_base.js
!moai-sdk/hosts/chrome/sdk-setup.bat
!moai-sdk/hosts/chrome/sdk-setup.sh
!moai-sdk/hosts/chrome/style1.css

moai-sdk/hosts/vs2008/*
!moai-sdk/hosts/vs2008/moai
!moai-sdk/hosts/vs2008/moai-untz
!moai-sdk/hosts/vs2008/moai-host.sln

moai-sdk/hosts/vs2008/moai/*
!moai-sdk/hosts/vs2008/moai/moai.vcproj

moai-sdk/hosts/vs2008/moai-untz/*
!moai-sdk/hosts/vs2008/moai-untz/moai-untz.vcproj

moai-sdk/hosts/vs2010/*
!moai-sdk/hosts/vs2010/moai
!moai-sdk/hosts/vs2010/moai-untz
!moai-sdk/hosts/vs2010/moai-host.sln

moai-sdk/hosts/vs2010/moai/*
!moai-sdk/hosts/vs2010/moai/moai.vcxproj

moai-sdk/hosts/vs2010/moai-untz/*
!moai-sdk/hosts/vs2010/moai-untz/moai-untz.vcxproj

moai-sdk/hosts/xcode/*
!moai-sdk/hosts/xcode/ios
!moai-sdk/hosts/xcode/osx

moai-sdk/hosts/xcode/ios/*
!moai-sdk/hosts/xcode/ios/moai.xcodeproj
!moai-sdk/hosts/xcode/ios/moai_Prefix.pch

moai-sdk/hosts/xcode/ios/moai.xcodeproj/*
!moai-sdk/hosts/xcode/ios/moai.xcodeproj/project.xcworkspace
!moai-sdk/hosts/xcode/ios/moai.xcodeproj/project.pbxproj

moai-sdk/hosts/xcode/ios/moai.xcodeproj/project.xcworkspace/*
!moai-sdk/hosts/xcode/ios/moai.xcodeproj/project.xcworkspace/contents.xcworkspacedata

moai-sdk/hosts/xcode/osx/*
!moai-sdk/hosts/xcode/osx/moai.xcodeproj

moai-sdk/hosts/xcode/osx/moai.xcodeproj/*
!moai-sdk/hosts/xcode/osx/moai.xcodeproj/project.xcworkspace
!moai-sdk/hosts/xcode/osx/moai.xcodeproj/project.pbxproj

moai-sdk/hosts/xcode/osx/moai.xcodeproj/project.xcworkspace/*
!moai-sdk/hosts/xcode/osx/moai.xcodeproj/project.xcworkspace/contents.xcworkspacedata
