moai-sdk/3rdparty/
moai-sdk/bin/
moai-sdk/docs/html
moai-sdk/samples/lua/
moai-sdk/samples/hosts/src
moai-sdk/samples/hosts/eclipse/android-project/
moai-sdk/include/
moai-sdk/version.txt
Debug/
Release/
build/
*.pbxuser
*.perspectivev3
*.exe
*.ncb
*.suo
*.sdf
*.opensdf
*.user
moai-sdk/samples/hosts/xcode/ios/Classes/
moai-sdk/samples/hosts/xcode/ios/Entitlements.plist
moai-sdk/samples/hosts/xcode/ios/Icon.png
moai-sdk/samples/hosts/xcode/ios/Icon@2x.png
moai-sdk/samples/hosts/xcode/ios/Icon-72.png
moai-sdk/samples/hosts/xcode/ios/Icon-Small.png
moai-sdk/samples/hosts/xcode/ios/Icon-Small@2x.png
moai-sdk/samples/hosts/xcode/ios/Icon-Small-50.png
moai-sdk/samples/hosts/xcode/ios/Info.plist
moai-sdk/samples/hosts/xcode/ios/MainWindow-iPad.xib
moai-sdk/samples/hosts/xcode/ios/MainWindow-iPhone.xib

