*.sh 													eol=lf
3rdparty/curl-7.19.7/buildconf 							eol=lf
3rdparty/curl-7.19.7/compile 							eol=lf
3rdparty/curl-7.19.7/configure 							eol=lf
3rdparty/curl-7.19.7/config.guess 						eol=lf
3rdparty/curl-7.19.7/config.sub 						eol=lf
3rdparty/curl-7.19.7/curl-config.in						eol=lf
3rdparty/curl-7.19.7/depcomp							eol=lf
3rdparty/curl-7.19.7/docs/INSTALL						eol=lf
3rdparty/curl-7.19.7/install-sh 						eol=lf
3rdparty/curl-7.19.7/maketgz							eol=lf
3rdparty/curl-7.19.7/missing							eol=lf
3rdparty/curl-7.19.7/mkinstalldirs						eol=lf
3rdparty/curl-7.19.7/packages/Linux/RPM/make_curl_rpm	eol=lf
