[submodule "3rdparty/GLS3D"]
	path = 3rdparty/GLS3D
	url = git://github.com/adobe/GLS3D.git
[submodule "3rdparty/alcfreeglut"]
	path = 3rdparty/alcfreeglut
	url = git://github.com/alexmac/alcfreeglut.git
[submodule "3rdparty/SDL"]
	path = 3rdparty/SDL
	url = git://github.com/blackberry/SDL.git
[submodule "3rdparty/TouchControlOverlay"]
	path = 3rdparty/TouchControlOverlay
	url = git://github.com/blackberry/TouchControlOverlay.git
