Thumbs.db
.DS_Store
/vs2010/ipch
/vs2010/bin
/vs2008/bin

/ide/bin
/ide/obj

/src/config

lib/

build/
xcuserdata/
DerivedData/
*.pbxuser
*.perspectivev3

# Artifacts when building with CMake
flascc/build
CMakeFiles
CMakeCache.txt
cmake_install.cmake
*.o
*.a
src/moai/moai
release
tmp

# Produced by test runner
test/xml-results
.idea
cmake/projects/

bin/api-reference-parser/vendor
docs/api-reference
