<?xml version="1.0" encoding="utf-8"?>

<manifest 
	xmlns:android="http://schemas.android.com/apk/res/android" 
	android:versionCode="1" 
	android:versionName="1.0" 
	package="@PACKAGE@">
	
	<application 
		android:icon="@drawable/icon" 
		android:debuggable="@DEBUGGABLE@" 
		android:enabled="true" 
		android:persistent="false" 
		android:label="@NAME@" 
		android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
		
		<activity 
			android:name="MoaiActivity" 
			android:label="@string/app_name" 
			android:screenOrientation="landscape" 
			android:launchMode="singleInstance" 
			android:installLocation="preferExternal" 
			android:configChanges="keyboard|keyboardHidden|orientation">
			
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
	</application>
	
    <uses-sdk android:minSdkVersion="8"/>
 	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.INTERNET" />
	
</manifest>   