<ul class="nav nav-list">
    <li class=nav-><a href="{{ site.url }}/docs" style="padding-left: 0">Home</a></li>
  
    {% for section in site.data.sections %}
        {% assign attr = section[0] %}
        {% assign label = section[1] %}
        <li class=nav-header>{{ label }}</li>
        {% for page in site.categories[attr] %}
         
            <li data-order="{{ page.order }}"><a href="{{ site.url }}{{ page.url }}">{{ page.title }}</a></li>
        {% endfor %}
    {% endfor %}
<!-- List additional links. It is recommended to add a divider
    e.g. <li class=divider></li> first to break up the content. -->
</ul>