
<ul id="nav-menu" class="nav nav-list">
    <li class="parent">
      <a class="subtree-name" href="{{ site.baseurl }}/docs">Home</a>
    </li>
    {% assign docpages = site.docs | sort: 'order'  %}
  
    {% for section in site.data.sections %}
        {% assign attr = section[0] %}
        {% assign label = section[1] %}
        
        {% capture pathseg %}/{{ attr }}/{% endcapture %}
        
        
        
        {% if page.relative_path contains pathseg %}
        <!-- DEBUG page relative path {{ page.relative_path }} contains pathseg {{ pathseg }} -->
        <li class="parent collapsibleListClosed">
        {% else %}
        <!-- DEBUG page relative path {{ page.relative_path }} does NOT contain pathseg {{ pathseg }} -->
        <li class="parent collapsibleListOpen"> 
        {% endif %}
          <div class="subtree-name">{{ label }}</div>
        
        
        <ul class="nav nav-list">
        {% for p in docpages %}
             
            {% assign pathsections = p.relative_path | split: "/" %} 
            {% if pathsections.size == 3 %}
            {% assign cat = pathsections[1] %}
                {% if cat == attr %}
                  <li {% if page.url == p.url %}class="active"{% endif %} ><a href="{{ site.baseurl }}{{ p.url }}">{{ p.title }}</a></li>
                {% endif %}
            {% endif %}
        {% endfor %}
        </ul>
      </li>
    {% endfor %}

</ul>

<script src="{{ site.baseurl }}/js/collapsiblelists.min.js"> </script>
<script>
$(function() {
CollapsibleLists.applyTo(document.getElementById('nav-menu'));
});

</script>