<?xml version="1.0" encoding="utf-8"?>

<manifest 
	xmlns:android="http://schemas.android.com/apk/res/android" 
    android:installLocation="auto"
	android:versionCode="@VERSION_CODE@" 
	android:versionName="@VERSION_NAME@" 
	package="@PACKAGE@">
	
	<application 
		android:icon="@drawable/icon" 
		android:debuggable="@DEBUGGABLE@" 
		android:enabled="true" 
		android:persistent="false" 
		android:label="@string/app_name"
		android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
		
		<!-- Moai -->
		<activity 
			android:name="MoaiActivity" 
			android:label="@string/app_name" 
			android:screenOrientation= "landscape"
			android:launchMode="singleTask"
			android:configChanges="keyboard|keyboardHidden|orientation">
			
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		
		<!-- EXTERNAL DECLARATIONS: Placeholder (DO NOT MOVE OR REMOVE) -->
		
		<!-- Crittercism -->
		<activity android:name="com.crittercism.FeedbackActivity"/>
		<activity android:name="com.crittercism.FeedbackCreateActivity"/>
		<activity android:name="com.crittercism.FeedbackDetailsActivity"/>
		<activity android:name="com.crittercism.NotificationActivity"/>
		<service android:name="com.crittercism.service.CrittercismService" android:process="com.crittercism.service" android:exported="true">
		    <intent-filter><action android:name="com.crittercism.service.CrittercismService" /></intent-filter>
		</service>
		
		<!-- AdColony -->
		<activity android:name="com.jirbo.adcolony.AdColonyOverlay" android:configChanges="keyboardHidden|orientation" android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />
		<activity android:name="com.jirbo.adcolony.AdColonyFullscreen" android:configChanges="keyboardHidden|orientation" android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" />
		<activity android:name="com.jirbo.adcolony.AdColonyBrowser" android:configChanges="keyboardHidden|orientation" android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" />		
	</application>
	
    <uses-sdk android:minSdkVersion="8"/>

	<!-- Moai -->
 	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.INTERNET" />
		
	<!-- EXTERNAL PERMISSIONS: Placeholder (DO NOT MOVE OR REMOVE) -->
		
	<!-- Crittercism -->
	<uses-permission android:name="android.permission.GET_TASKS"/>
 	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.INTERNET" />
	<!-- <uses-permission android:name="android.permission.READ_LOGS"/> Optional permission to allow Crittercism to collect log data. -->

	<!-- AdColony -->
 	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.GET_TASKS"/>	
	
	<supports-screens 
	    	android:smallScreens="false"
	    	android:normalScreens="true"
	    	android:largeScreens="true"
			android:xlargeScreens="true"
	    	android:anyDensity="true" />
	
	<uses-configuration android:reqTouchScreen="finger" />
	
	<uses-feature android:name="android.hardware.screen.landscape" android:required="true" />
	<uses-feature android:name="android.hardware.touchscreen.multitouch" android:required="true" />
</manifest>   