
VULKAN_SDK="/vulkansdk-macos-1.2.154.1/macos"
VK_ICD_FILENAMES="/vulkansdk-macos-1.2.154.1/macOS/share/vulkan/icd.d/MoltenVK_icd.json"
VK_LAYER_PATH="/vulkansdk-macos-1.2.154.1/macOS/share/vulkan/explicit_layer.d"
