<file-display>
    <file-item-display file="{file}"></file-item-display>
    <file-list files="{opts.files}" picked="{file}"></file-list>

    <script>
        this.file = null;

        this.showFile = function(file) {
            this.file = file;
            this.update();
        };


        this.on("update", function() {

            //our current file is no longer in the set of files?
            if (opts.files && !_.contains(opts.files, this.file)) {
                this.file = null;
            }
            //We don't have a selected file,grab main.lua
            if (!this.file && opts.files && opts.files.length > 0) {
                this.file = _.findWhere(opts.files, {filename: '/main.lua'});
                if (!this.file) { //fallback to first file
                    this.file = opts.files[0];
                }
            }
        });

        this.on("mount", function() {
            this.tags['file-list'].on("fileSelected", this.showFile.bind(this))
        })
    </script>
</file-display>