<file-icon>
    <span class="icon"><i class="fa { fontClass }"></i></span>
    <span class="caption">{filename}</span>

    <script>
        this.on("update", function() {
            this.fileType = fileUtil.getType(opts.file);
            this.filename = opts.file.filename.slice(1);

            this.fontClass = "fa-file-o";
            if (this.fileType == "text") { this.fontClass = "fa-file-text-o" }
            if (this.fileType == "audio") { this.fontClass = "fa-file-sound-o" }
            if (this.fileType == "image") { this.fontClass = "fa-file-image-o" }
            if (this.fileType == "font") { this.fontClass = "fa-file-word-o" }

        })
    </script>
</file-icon>