<sample-search>


    <div id="samplesearch">
        <i class="fa fa-search" hide="{this.canClear}" >&nbsp;</i>
        <i class="fa fa-remove" show="{this.canClear}" onclick="{clearSearch}">&nbsp;</i>
        <input type="search" id="search" name="search" placeholder="Moai class or function" autocomplete="off" />
    </div>
    <datalist id="samplesearchcomplete">
        <option each="{name, i in allCompletions}">{name}</option>
    </datalist>

    <script>

        clearSearch() {
            this.search.value = "";
            this.canClear = false;
            this.trigger("searchChange", "");
        }

        this.allCompletions = _.keys(sampleindex).sort();

        this.updateSearch = function() {
            if (this.search.value.length > 0) {
                this.canClear = true;
            }
            this.trigger("searchChange", this.search.value);
        };



        this.on("mount", function() {
            console.log("mounted search widget");
            //$("#search").on("change", this.updateSearch.bind(this));
            $("#search").on("input", this.updateSearch.bind(this));
            this.ac = new Awesomplete(this.search, { list: "#samplesearchcomplete"});

            $("#search").on("awesomplete-selectcomplete", this.updateSearch.bind(this));

            $("#search").on("keyup", function(e) {
                if (e.keyCode == 13) {
                    this.ac.close();
                }
            }.bind(this));
        });

    </script>


</sample-search>