<file-list>
    <div id="filelist">
        <ul>
            <li each="{file, i in opts.files}" onclick="{select}">
                <file-icon file="{file}" class="{ selected: isSelected(file) }"></file-icon>
            </li>
        </ul>
    </div>
    <script>
        this.files = [];

        isSelected(f) {
            return (f == opts.picked);
        }

        select(e) {
            this.trigger("fileSelected", e.item.file);
        }

        this.on("update", function() {
           if (opts.files != this.files) {
               this.files = opts.files;
               var container = $('#filelist')[0];
               container.scrollTop = 0;
           }

        });

        this.on("mount", function() {
            var container = $('#filelist')[0];
            Ps.initialize(container);
        })
    </script>
</file-list>