<file-item-display>
  <editor if="{ fileUtil.isType(opts.file, 'text') }"  file="{opts.file}"></editor>
  <picture-viewer if="{ fileUtil.isType(opts.file, 'image')}" file="{opts.file}"  ></picture-viewer>
  <audio-viewer if="{ fileUtil.isType(opts.file, 'audio')}" file="{opts.file}"  ></audio-viewer>
  <font-viewer if="{ fileUtil.isType(opts.file, 'font') }" file="{opts.file}" ></font-viewer>
  <div class="file-info"  if="{ fileUtil.isType(opts.file, 'unknown') }">
      <h2>Filename: { opts.file.filename }</h2>
      <h3>Size: { opts.file.data.length }</h3>
  </div>

    <script>
        window.appEvents.on("flush-changes",
         function() {
            if (fileUtil.isType(opts.file, 'text')) {
               this.tags['editor'].flushChanges();
            }
         }.bind(this));


    </script>

</file-item-display>