<editor>
    <div  id="editor">
    </div>

    <script>

        this.flushChanges = function() {
            if (this.session) {
                var newText = this.session.getValue();
                if (newText != this.originalText) {
                    var arr = b64.strToUTF8Arr(newText);
                    this.file.data = new Uint8Array(arr);
                    this.originalText = newText;
                }
            }
        };

        this.on("update", function() {
            if (this.session && (!opts.hasOwnProperty("if") || opts.if )) {
                if (opts.file != this.file) {
                    this.file = opts.file;
                    this.originalText = fileUtil.asText(opts.file);
                    this.session.setValue(this.originalText);
                }
            }
        });

        this.on("mount", function() {
            this.editor = ace.edit("editor");
            this.editor.setTheme("ace/theme/monokai");
            this.editor.setShowPrintMargin(false);
            this.editor.setOptions({
                enableBasicAutocompletion: true,
                enableSnippets: true
            });

            this.session = this.editor.getSession();
            this.session.setUseWrapMode(true);
            this.session.setMode("ace/mode/lua");
            this.file = opts.file;
            this.originalText = fileUtil.asText(opts.file);
            this.session.setValue(this.originalText);
            this.editor.on("blur", this.flushChanges.bind(this))
        });
    </script>
</editor>