<font-viewer>




    <div each="{ fontsize, i in sizes }">
        <span style="font-family: monospace;">at {fontsize} px:</span><br>
            <span style="font-family: 'DemoFont'; font-size: {fontsize}px; ">
                The quick red fox jumped over the lazy brown dog
            </span>
    </div>


    <script>
        this.sizes = [8,10,12,14,16,18,20,22,26,30,35,40];



        this.on("update", function() {
            if (!opts.hasOwnProperty("if") || opts.if ) {

                if (opts.file) {
                    //remove old style
                    var oldstyle = document.getElementById('demofontstyle');
                    if (oldstyle) {
                        oldstyle.parentNode.removeChild(oldstyle);
                    }

                    // add new one
                    var stylefrag = " @font-face { font-family: 'DemoFont';  src: url('"+fileUtil.asObjectUrl(opts.file)+"') format('truetype');" +
                            " font-weight: normal; font-style: normal;";

                    var styletag = $( "<sty"+"le id='demofontstyle'> "+ stylefrag + "</"+"style>");

                    $('head').prepend(styletag);
                } else {
                    console.log("no font");
                }
            }
        })
    </script>
</font-viewer>