<sample-browser>
    <header>
        <h2>Moai Sample Browser</h2><h3>{ sample }</h3>
    </header>
    <sample-list samples="{opts.samples}" currentsample="{sample}" onselected="{doselected}"/>
    <splitter type="horizontal" id="contentsplitter" location="70">
        <splitter-panel>
            <file-display files="{parent.parent.files}"/>
        </splitter-panel>
        <splitter-handle></splitter-handle>
        <splitter-panel>
            <player sample="{parent.parent.sample}"/>
        </splitter-panel>
    </splitter>

    <script>
        this.files = [];

        this.loadSample = function(sample) {
            this.sample = sample;
            loadDeferredScripts(["../"+sample+"/romdata.js"],['romData'], function() {
                var files = romJson.files;
                var packageData = b64.base64DecToArr(romData).buffer;

                for (var i=0; i < files.length; i++) {
                    var file = files[i];
                    file.data = new Uint8Array(packageData,file.start,(file.end -file.start));
                }
                this.files = files;
                this.update();
            }.bind(this))
        };



        var buildRomData = function(files) {

            function guid() {
                function s4() {
                    return Math.floor((1 + Math.random()) * 0x10000)
                            .toString(16)
                            .substring(1);
                }
                return s4() + s4() + '-' + s4() + '-' + s4() + '-' +
                        s4() + '-' + s4() + s4() + s4();
            }

            //loop over this.files and construct a new arraybuffer

            var newFiles = [];
            var newDirs = [];
            var size = _.reduce(files, function (sizeSoFar, file) {
                return sizeSoFar + file.data.length;
            }, 0);
            var newBuff = new Uint8Array(size);
            var offset = 0;
            for (var i = 0; i < files.length; i++) {
                var file = files[i];
                var newFile = {
                    audio: "0",
                    crunched: "0",
                    filename: file.filename,
                    start: offset,
                    end: offset + file.data.length
                };
                newFiles.push(newFile);
                //collect directories as we go
                var dir = file.filename.split("/").slice(1).slice(0, -1).join("/");
                if (newDirs.indexOf(dir) == -1) {
                    newDirs.push(dir);
                }
                //copy in our data
                newBuff.set(file.data, offset);
                offset = newFile.end;
            }

            var romJson = {
                files: newFiles,
                package_uuid: guid(),
                bundle_file: "moaiapp.rom",
                directories: newDirs
            };

            return {
                romJson: romJson,
                romData: newBuff.buffer
            }
        };


        window.appEvents = riot.observable();
        //hook for player to get our current rom
        window.getRom = function() {
            //this.tags['file-display'].flushChanges();
            window.appEvents.trigger("flush-changes");
            return buildRomData(this.files);
        }.bind(this);


        this.on("mount", function() {

            this.tags['sample-list'].on("selected",
                function(sample) {
                    riot.route(sample);
                }.bind(this)
            );

            riot.route(function(sample) {
                if ( this.opts.samples.indexOf(sample) > -1) {

                    this.loadSample(sample)
                }
            }.bind(this));
            riot.route.start();
            riot.route.exec();
            if (!this.sample) {
                riot.route(opts.samples[0]);
            }


        })


    </script>


</sample-browser>