<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="{{ site.baseurl }}/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ site.baseurl }}/css/bootstrap-theme.min.css" rel="stylesheet">
    
    
    <link rel="apple-touch-icon" sizes="57x57" href="{{ site.baseurl }}/img/icons/favicon/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="{{ site.baseurl }}/img/icons/favicon/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="{{ site.baseurl }}/img/icons/favicon/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="{{ site.baseurl }}/img/icons/favicon/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="{{ site.baseurl }}/img/icons/favicon/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="{{ site.baseurl }}/img/icons/favicon/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="{{ site.baseurl }}/img/icons/favicon/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="{{ site.baseurl }}/img/icons/favicon/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}/img/icons/favicon/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="{{ site.baseurl }}/img/icons/favicon/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="{{ site.baseurl }}/img/icons/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="{{ site.baseurl }}/img/icons/favicon/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="{{ site.baseurl }}/img/icons/favicon/favicon-16x16.png">
<link rel="manifest" href="{{ site.baseurl }}/img/icons/favicon/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="{{ site.baseurl }}/img/icons/favicon/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">
    
    
    
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <link href="{{ site.baseurl }}/css/syntax.css" rel="stylesheet">
    <link href="{{ site.baseurl }}/css/style.css" rel="stylesheet">
    
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    
    
  </head>
  <body>
    <!-- MOAI NAV -->
    <nav class="moai-nav navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ site.baseurl }}/"><img class="img-responsive" src="{{ site.baseurl }}/img/moai.png" alt="moai"></a><p class="navbar-text hidden-xs">The platform for pro game developers</p>
        </div>
        <div class="collapse navbar-collapse" id="main-nav-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{{ site.baseurl }}/games/">Games</a></li>
            <li><a href="{{ site.baseurl }}/docs/">Docs</a></li>
            <li><a href="http://getmoai.com">Blog</a></li>
            <li><a href="http://getmoai.com/forums">Forums</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div>
    </nav>
    <!-- / MOAI NAV -->
    
    {{ content }}

    <!-- SUB FOOTER-->
   <!-- <div class="subfooter">
      <div class="container">
        <div class="row">
          <div class="col-sm-4">
            <p class="text-center"><a href="http://getmoai.com/marketing/made-with-moai.html">License / Attribution</a></p>
          </div>
          <div class="col-sm-4">
            <p class="text-center"><a class="text-center" href="http://getmoai.com/tools-partners.html">Useful Tools</a></p>
          </div>
          <div class="col-sm-4">
            <p class="text-center"><a class="text-center" href="http://getmoai.com/partner-services.html">Partner Services</a></p>
          </div>
        </div>
      </div>
    </div>-->
    <!-- /SUB FOOTER-->
    <!-- FOOTER -->
    <footer>
      <div class="container">
       
        <p class="copyright">&copy; 2011 - 2014 Zipline Games, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
      </div>
    </footer>

      <script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>
    
  </body>
</html>