#!/bin/bash

echo "Importing local env"
## Path to your moai sdk if not in <pitohome>/sdk/moai
# MOAI_SDK_HOME=/Users/moaiuser/moai-dev

## Path to the Android NDK
NDK_PATH=/home/david/Downloads/android-ndk-r11b

## Path to Emscripten SDK
#EMSDK_PATH=/Users/moaiuser/Downloads/emsdk_portable
